<link rel="stylesheet" href="/css/user_profile.css" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
    <style>
      /* Add your styles here */
      .habit-list.blur {
        filter: blur(5px);
      }
    </style>
  </head>
  <body>
    <form
      action="/habit/create"
      ,
      id="new-habit-form"
      method="POST"
      style="display: none"
    >
      <textarea
        name="title"
        cols="30"
        rows="3"
        placeholder="type here ...."
      ></textarea>
      <input type="text" name="desc" placeholder="user desc" />
      <input type="datetime-local" name="dateTime" />
      <input type="submit" value="Post" />
    </form>

    <div class="habit-list-box">
      <div class="add-button" onclick="toggleFormAndBlur()">
        <div class="icon">
          <h3>Add Habit</h3>
          <div id="toggle-button">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>

      <ul class="habit-list">
        <% for(habit of habits){ %>
        <li>
          <div class="habit-view">
            <div class="habit-header">
              <h3><%= habit.title %></h3>

              <div class="time-desc">
                <h4 class="time">
                  <% const habitDate = new Date(habit.dateTime); %> <% const
                  hours = habitDate.getHours() % 12 || 12; const minutes =
                  habitDate.getMinutes(); const period = habitDate.getHours() >=
                  12 ? 'PM' : 'AM'; %> <%= hours %>:<%= minutes < 10 ? '0' +
                  minutes : minutes %> <%= period %>
                </h4>
                <h4 class="desc"><%= habit.desc %></h4>
              </div>
            </div>
          </div>
        </li>
        <%} %>
      </ul>
    </div>
  </body>
</html>
<script>
  function toggleFormAndBlur() {
    var form = document.getElementById("new-habit-form");
    var habitList = document.querySelector(".habit-list");

    if (form.style.display === "none") {
      form.style.display = "block";
      habitList.classList.add("blur");
    } else {
      form.style.display = "none";
      habitList.classList.remove("blur");
    }
  }
</script>
